body {
  background-color: black;
}
.poster {
    width: 45%;
    margin-left: 28%;
    margin-top: 50px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
  }
h1 {
    text-transform: uppercase;
    font-size: 2rem;
}
.motivation-img {
    border: 5px solid white;
    width: 65%;
  }